{% extends 'base.html.twig' %}

{% block title %}Formations
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>Bienvenue sur notre site dédié aux formations !</h1>

		<p>Découvrez les toutes dernières opportunités de développement professionnel</p>
		{% for formation in formations %}
			<article>
				<h4>{{ formation.titre }}</h4>
				<p>{{ formation.resume }}</p>
				<p>{{ formation.description }}</p>
				<p>{{ formation.duree }}</p>
                <p>{{ formation.niveau }}</p>
                <p>{{ formation.lieu }}</p>
				<p>{{ formation.createdAt|date('d/m/Y à H:m:s') }}</p>
			</article>
		{% endfor %}
	</div>
{% endblock %}
