{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center fw-bold mt-4" style="padding-top: 50px;">Bienvenue sur notre site dédié aux formations !</h1>
        <p class="text-center text-dark">Découvrez les toutes dernières opportunités de développement professionnel</p>

        {% for formation in formations %}
            <div class="card mx-auto mb-3 shadow bg-light" style="width: 18rem; padding-top: 15px;">
                <div class="card-body text-center">
                    <h5 class="card-title font-weight-bold text-primary">{{ formation.titre }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        {{ formation.resume }}
                    </h6>
                    <p class="card-text">{{ formation.description }}</p>

                    <span class="badge bg-primary text-light">Durée: {{ formation.duree }}</span>
                    <span class="badge bg-primary text-light">Niveau: {{ formation.niveau }}</span>
                    <span class="badge bg-primary text-light">Lieu: {{ formation.lieu }}</span>

                    <p class="small text-muted" style="padding-top: 15px;">{{ formation.createdAt|date('d/m/Y à H:m:s', 'Europe/paris') }}</p>                
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
